<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cambio de contraseña</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='IP_Login.css')}}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap">

</head>
<body>
    <div class="contenedor" style="font-size: 15px; margin-top: 10px;">
        <form action="{{ url_for('cambiar_mi_contrasena') }}" method="POST">
            <h1 align="center">Cambio de contraseña</h1>
            <label>Ingresa contraseña actual</label>
            <input type="password" name="actual_password" required>
            <label>Ingresa nueva contraseña</label>
            <input type="password" name="new_password1" style="margin-bottom: 0px;" maxlength="10" required>
            <p class="texto-destacado" style="margin-bottom: 25px;">Tu contraseña debe tener 10 caracteres entre letras y números</p>
            <label>Confirma nueva contraseña</label>
            <input type="password" name="new_password2" maxlength="10" required>
            <button type="submit" class="btn-success" style="margin-bottom: 5px;">Cambiar mi contraseña</button>
        </form>
        <form style="flex: 1;" action="{{ url_for('open_admin_menu', email_admin = email_admin)}}" method="POST">
            <button class="btn-success" type="submit">Volver a menú de administrador</button>
        </form>
    </div>

</body>
</html>